<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <dccs>
        <dcc mainModule="pt.c03ensaios.frango.QuestionsHash"/>   
        <dcc mainModule="pt.c03ensaios.fejao.PossibleAnimalsHash"/> 
        <dcc mainModule="pt.c03ensaios.linnaeus.AnimalsDatabase"/>  
        <dcc mainModule="pt.c03ensaios.linnaeus.AnimalData"/>
        <dcc mainModule="pt.c03ensaios.tochinhas2.impl.Questions"/>
        <dcc mainModule="pt.c03ensaios.debolacha.impl.AnimalList"/>
    </dccs>
</config>
